//fonts stacks, colors, etc.
@main-font: 'Montserrat', sans-serif;



@phone: ~"screen and (max-width: 550px)"; 
@tablet: ~"screen and (max-width: 900px)"; 
@desktop: ~"screen and (min-width: 901px)"; 

